.appointments-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.appointment-card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.appointment-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.invoice-details {
  margin-top: 1rem;
}

.no-appointments {
  text-align: center;
  color: #888;
}

p {
  margin: 0 !important;
}
